<!-- First, we need to add Panel's overlay that will overlays app while panel is opened -->
<div class="panel-overlay"></div>

<!-- Left panel, let it be with reveal effect -->
<div class="panel panel-left panel-reveal">
    ... panel content goes here ...
</div>
<div data-page="home" class="page toolbar-fixed navbar-fixed">

<!-- Top Navbar. In Material theme it should be inside of the page-->
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="center">Awesome App</div>
                    </div>
                </div>


                <!-- Scrollable page content -->
                <div class="page-content">
                    <p>Page content goes here</p>
                    <div {{action 'openLeftPanel' on='click' }}>Open Left Panel</div>

                </div>

                <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
                <div class="toolbar toolbar-bottom">
                    <div class="toolbar-inner">
                        <!-- Toolbar links -->
                        <a href="#" class="link">Link 1</a>
                        <a href="#" class="link">Link 2</a>
                    </div>
                </div>

</div>